body {
    background-color: rgb(17, 17, 46);
    color: white;
}

p {
    margin-top: 50px;
    color: black;
    text-align: center;
    font-size: 40px;    
}

.webgl-content {
    margin-top: 200px;
}

.webgl-content.colord {
    margin-top: 350px;
}

.webgl-content.trivia {
    margin-top: 350px;
}

.gamePageHeader {
    font-size: 50px;
    text-align: center;
}

.key {
    color: rgb(0, 0, 0);
    padding: 10px;
    background-color: gray;
    border: 5px solid red;
    border-radius: 5px;   
}

.explain {
    background-color: white;
    padding: 20px;
    border: 5px solid red;
    border-radius: 10px;
}